/*
  Variables
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 1.2em 'Merriweather Sans', serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: #d770ad;
}
header {
  text-align: center;
  margin: 1em 0;
}
header p {
  margin: 5px auto;
}
h1 {
  font-family: 'Lobster';
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-size: 10vmax;
}
@media (max-width: 820px) {
  h1 {
    font-size: 5vmax;
  }
}
p {
  margin: 1.2em auto;
  max-width: 1200px;
}
@media (max-width: 820px) {
  p {
    padding: 0 5px;
  }
}
@media (min-width: 820px) {
  p {
    padding: 0 20px;
    width: 90%;
  }
}
footer {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 0.8em;
  font-style: italic;
  border-top: 4px dashed #ffa3e0;
  padding-top: 2em;
}
a,
a:visited {
  color: #ffffff;
}
a:hover,
a:active {
  color: #eaeaea;
  text-decoration: underline;
}
a:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
blockquote {
  max-width: 900px;
  margin-left: 2em;
  border-left: 5px solid #a43d7a;
}
section {
  padding: 2em 0;
  max-width: 900px;
  margin: 0 auto;
}
section#the-bots {
  text-align: center;
}
section#the-quote {
  padding: 0 0 0 2em;
}
ul#bot-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
ul#bot-list li {
  margin: 2em 0;
}
ul#bot-list li img {
  max-width: 100%;
}
ul.sharing-is-caring {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
@media (min-width: 820px) {
  ul.sharing-is-caring {
    padding: 0 20px;
    margin: 1.2em auto;
    width: 90%;
  }
}
ul.sharing-is-caring li {
  display: inline;
}
@media (max-width: 820px) {
  ul.sharing-is-caring li {
    padding: 5px;
  }
}
ul.sharing-is-caring li a img {
  max-width: 2em;
}
@media (min-width: 820px) {
  ul.sharing-is-caring li a img {
    max-width: 1.6em;
  }
}
ul.sharing-is-caring li.sharing-prompt {
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}
@media (max-width: 820px) {
  ul.sharing-is-caring li.sharing-prompt {
    display: block;
    padding-bottom: 1em;
  }
}
hr {
  border-top: solid 1px #dfdfdf;
  border-bottom: none;
  margin: 3em auto;
  max-width: 90%;
}
/* Lazy-loading images. */
.lazy-load {
  opacity: 0;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.lazy-loaded {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.lazy-load,
.lazy-loaded {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
